/NDYGFX.v11.suo
/NDYGFX.sdf
/Build
/Debug
/Release
/NDYGFX.opensdf
/WorkingDir/MaloWDebug.txt
/WorkingDir/ModelViewer.vcxproj.user
/ModelViewer/Release
/*.psess
/*.vsp
/*.fxo
/WorkingDir/Media/Cache
/workingDir/Media/LoadingScreen/Thumbs.db
/WorkingDir/Media/Thumbs.db
/WorkingDir/config.cfg
/WorkingDir/Media/Fonts/Thumbs.db
/WorkingDir/Media/CSMDebug.obj
/WorkingDir/Media/CSMDebug.mtl
/BTHFBX/Obj
/ModelViewer/Obj
/NDYGFX/Obj
/WorkingDir/MaloWPerformanceReport.txt
/WorkingDir/Media/Maps/*.map
/WorkingDir/MPR.txt
/*.vspx
/WorkingDir/OldPerfReports
/WorkingDir/Media/MapModels/Cache
/WorkingDir/Media/Models/Cache
